---
import { Image } from "astro:assets";
import profilPic from "../assets/profilepic.png";
---


<div class="aboutme">
    <div class="aboutme-text">
        <h1>Hi, Ik ben Ewoud,</h1>
        <h1>Student multimedia & creatieve technology</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequatur animi quae cum ex voluptas debitis minima consectetur,
            quos fuga quia vero praesentium deleniti quod quibusdam libero
            sapiente qui. Cum, corrupti.
        </p>

        <button class="aboutme-button">Download Resume</button>
    </div>
    <div class="aboutme-image">
        <Image src = {profilPic} alt="Foto van mezelf"/>
    </div>
</div>
