<div class="container-hamburger-icon">
    <div class="hamburger-icon">
        <span class="hamburger-icon-line"></span>
        <span class="hamburger-icon-line"></span>
        <span class="hamburger-icon-line"></span>
    </div>
</div>

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/work">Works</a>
    <a href="/contact">Contact</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
