---

---

<footer>
    <div class="footer-images-container">
        <img src="/icons/fbicon.svg" alt="Facebook" class="footer-images" />
        <img src="/icons/instaicon.svg" alt="Instagram" class="footer-images" />
        <img src="/icons/twittericon.svg" alt="Twitter" class="footer-images" />
        <img src="/icons/ldicon.svg" alt="LinkedIn" class="footer-images" />
    </div>
    <div>
        <p class="footer__no-cookies">
            Deze site maakt geen gebruik van cookies.
        </p>
        <p class="footer__copyright">Copyright ©2025 All rights reserved</p>
    </div>
</footer>
