---

---

<footer>
    <div class="footer-images-container">
        <img src="/icons/fbicon.svg" alt="Facebook" class="footer-images" />
        <img src="/icons/instaicon.svg" alt="Instagram" class="footer-images" />
        <img src="/icons/twittericon.svg" alt="Twitter" class="footer-images" />
        <img src="/icons/ldicon.svg" alt="LinkedIn" class="footer-images" />
    </div>
    <p class="footer-text">Copyright ©2025 All rights reserved</p>
</footer>
